<div class="col-8 offset-2">
    <div *ngIf="dataReturn">
        <div *ngIf="!editSuccess" class="alert alert-danger" role="alert">
            Edit was unsuccesfull
        </div>
        <div *ngIf="editSuccess" class="alert alert-success" role="alert">
            Password has changed successfully
        </div>
    </div>
    <form *ngIf="passwordChangeForm" [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
        <table class="table table-borderless">
            <tr>
                <td><label for="firstName">New Password</label></td>
                <td>
                    <input class="form-control" type="password" name="password1" formControlName="password1">
                    <ul class="form-err-msg" *ngIf="submitted && f.password1.errors">
                        <li *ngIf="f.password2.errors.required">password is required</li>
                    </ul>
                </td>

            </tr>
            <tr>
                <td><label for="lastName">Confirm Password</label></td>
                <td><input class="form-control" type="password" name="password2" formControlName="password2">
                    <ul class="form-err-msg" *ngIf="submitted && f.password2.errors">
                        <li *ngIf="f.password2.errors.required">confirm password is required</li>
                    </ul>
                    <ul class="form-err-msg" *ngIf="dataReturn && formErrors">
                        <li *ngIf="formErrors['new_password2']">{{ formErrors['new_password2'] }}</li>
                    </ul>
                </td>

            </tr>
            
            <tr>
                <td>
                    <input type="submit" class="btn btn-primary" value="Change Password">
                </td>   
                
            </tr>
        </table>            
    </form>
</div>