<div class="col-3 offset-5" *ngIf="loading">

    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
</div>
<div class="col-8 mx-auto"  *ngIf="orders">
    <div class="card my-2" *ngFor="let order of orders">
        <div class="card-header">
            Order  (Id #{{ order.id }}) - {{ order.date | date:"dd/MM/yyyy" }}
        </div>    
        <div class="card-body">
            Items - {{ order.products}}
        </div>
    </div>

</div>